* {
  font-family: 'Roboto';
}

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-card {
  width: 80vw;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  margin-top: 30px;
  border-radius: 15px;
}

.search-box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  align-items: center;
  width: 100%;
}

.cover-image {
  height: 65px;
  width: 50vw;
}

.search-icon {
  height: 30px;
  width: 30px;
}

.search-bar {
  border-style: solid;
  border-width: 0px;
  height: 40px;
  width: 100%;
  margin-left: 5px;
  padding: 8px;
  color: #64748b;
  font-size: 18px;
  outline: none;
}

.unordered-container {
  list-style-type: none;
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .cover-image {
    width: 25vw;
    height: 110px;
  }
  .search-card {
    width: 40vw;
    margin-top: 30px;
  }
  .search-bar {
    width: 100%;
    font-size: 20px;
  }
}
